
.calendar-container{
    grid-area: calendar-container;
    background-color: white;
    display: none;
}

.calendar-header span{
    display: none;
}


@media only screen and (min-width: 45em){
    .calendar-container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);/*set grid to 7 columns monday to sunday.*/
        grid-template-rows: 2rem 2rem;/*set first row to fixed height for day of week name.*/
        gap: 0.07rem;
        margin: 2rem;
        border:0.05rem black solid;
        background-color: black;

    }
    .calendar-top{
        background-color: white;
        text-align: center;
        overflow: hidden;
        font-size: 1.5rem;
        -webkit-text-stroke: 1px black;
    }

    .calendar-top i{
        cursor: pointer;
    }

    .calendar-header{
        background-color: white;
        text-align: center;
        overflow: hidden;
        -webkit-text-stroke: 1px black;
        padding-top: 0.3rem;

    }
    .calendar-day{
        padding: 0.3rem;
        background-color: white;
        display: flex;

        flex-direction: column;
        /*justify-content: flex-end;*/
    }

    .empty-day{
        background-color: white;
    }

    .dayTodoDiv{
        background-color: yellow;
        width: 1.4rem;
        border-radius: 1rem;
        text-align: center;
    }

    .dayHolidayDiv{
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: wheat;
    }



}

@media only screen and (min-width: 56em){
    .calendar-header span{
        display: inline-block;
    }
}