
.calendar-container{
    grid-area: calendar-container;
    background-color: white;
    display: none;
}

.calendar-header span{
    display: none;
}


@media only screen and (min-width: 45em){
    .calendar-container{
        display: grid;
        grid-template-columns: repeat(7, 14.28%);/*set grid to 7 columns monday to sunday.*/
        grid-auto-rows: 1fr;
        grid-template-rows: 2rem 2rem;/*set first row to fixed height for day of week name.*/
        margin: 2rem;
        border:0.1rem black solid;
        background-color: white;

    }
    .calendar-top{
        text-align: center;
        overflow: hidden;
        font-size: 1.5rem;
        border-top:0.02rem black solid;
        -webkit-text-stroke: 1px black;
    }

    .calendar-top-left{
        border-left:0.02rem black solid;
    }

    .calendar-top-right{
        border-right:0.02rem black solid;
    }

    .calendar-top i{
        cursor: pointer;
    }

    .calendar-header{
        background-color: white;
        text-align: center;
        overflow: hidden;
        -webkit-text-stroke: 1px black;
        padding-top: 0.3rem;
        border-bottom:0.02rem black solid;
    }

    .calendar-day{
        padding: 0.3rem;
        display: flex;
        border:0.02rem black solid;
        flex-direction: column;
        /*justify-content: flex-end;*/
    }

    .empty-day{
        border:0.02rem black solid;
    }

    .dayTodoDiv{
        background-color: rgb(212, 212, 155);
        width: 1.4rem;
        border-radius: 1rem;
        text-align: center;
    }

    .dayHolidayDiv{
        display: none;
    }

    .holiday{
        background-color: rgb(252, 96, 96);
    }



}

@media only screen and (min-width: 56em){
    .calendar-header span{
        display: inline-block;
    }

    .holiday{
        background-color: transparent;    
    }


    .dayHolidayDiv{
        overflow: hidden;
        background-color: rgb(252, 96, 96);
        border-radius: 0.2rem;
        display: block;
    }
}

@media only screen and (max-height: 44em){

    .dayHolidayDiv{
        display: none;
    }

    .holiday{
        background-color: rgb(252, 96, 96);
    }

}