/*calendar-container is set to right side below header in style.css grid template area.*/
.calendar-container{
    grid-area: calendar-container;
    background-color: white;
    display: none;
}

.calendar-header span{
    display: none;
}

/*Calendar view is enabled when screen resolution is above 45em(720px). */
@media only screen and (min-width: 45em){
    .calendar-container{
        display: grid;
        grid-template-columns: repeat(7, 14.28%);/*set grid to 7 columns monday to sunday.*/
        grid-auto-rows: 1fr;    /*sets default 1rf for all rows.*/
        grid-template-rows: 2rem 2rem;/*set first two row to fixed height for day of week name.*/
        margin: 0 1rem 0.5rem 1rem;
        border:0.1rem black solid;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }
  
    /*next month and date above calendar*/
    .calendar-top{
        text-align: center;
        overflow: hidden;
        font-size: 1.5rem;
        border-top:0.02rem black solid;
        -webkit-text-stroke: 1px black;
    }

    /*Top left arrow for month change.*/
    .calendar-top-left{
        border-left:0.02rem black solid;
    }

    /*Top right arrow for month change.*/
    .calendar-top-right{
        border-right:0.02rem black solid;
    }

    .calendar-top i{
        cursor: pointer;
    }
    /*Mon-sun above calendar.*/
    .calendar-header{
        text-align: center;
        overflow: hidden;
        -webkit-text-stroke: 1px black;
        padding-top: 0.3rem;
        border-bottom:0.02rem black solid;
    }

    /*Calendar day boxes.*/
    .calendar-day{
        padding: 0.3rem;
        display: flex;
        border:0.02rem black solid;
        /*flex-direction: column;*/
        /*justify-content: flex-end;*/
        display: grid;
        grid-template-areas:
        "dayNr - - todoNr"
        "holiday holiday holiday holiday";
    }

    /*Day number div in day boxes.*/
    .dayNrDiv{
        grid-area: dayNr;
    }

    /*Empty filler boxes för start and end of month.*/
    .empty-day{
        border:0.02rem black solid;
        cursor: auto;
    }

    /*Todo numer div inside day boxes.*/
    .dayTodoDiv{
        background-color:#e2d84b;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 1rem;
        text-align: center;
        grid-area: todoNr;
        justify-self: flex-end;
    }

    /*Does not display empty todo number div, so filled ones can be styled.*/
    .dayTodoDiv:empty {
        display: none;
    }

    /*Div that holds holiday text.*/
    .dayHolidayDiv{
        display: none;
        grid-area: holiday;
        height: 1.4rem;
    }

    /*Empty holiday dive is hidden.*/
    .dayHolidayDiv:empty{
        display: none;
    }

    /*Styles day box div if it is a holiday.*/
    .holiday{
        background-color: #fa7575;
    }
}

/*Displays larger text and enables holiday text on larger screens. */
@media only screen and (min-width: 56em){
    .calendar-header span{
        display: inline-block;
    }

    .holiday{
        background-color: #fa7575;    
    }

    /*Holiday text div enabled.*/
    .dayHolidayDiv{
        overflow: hidden;
        background-color: #fa7575;
        border-radius: 0.2rem;
        display: block;
        text-overflow: ellipsis;
    }
}

/*For vertical displays below 28em, day boxes get smaller text to fit screen.*/
@media only screen and (max-height: 28em){
    .dayNrDiv{
        font-size: 0.6rem;
        height: 0.8rem;
        width: 0.8rem;
    }
    .dayTodoDiv{
        font-size: 0.6rem;
        height: 0.8rem;
        width: 0.8rem;
    }
}

/*Disables holiday text inside day boxes on vertical height below 44em.*/
@media only screen and (max-height: 44em){
    .dayHolidayDiv{
        display: none;
    }

    .holiday{
        background-color: #fa7575;
    }
}