* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}


body {
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 14rem auto;
    grid-template-areas: 
    "header"
    "aside"
    ;
}


@media only screen and (min-width: 45em){

    body {
        width:100%;
        height:100vh;
        display: grid;
        grid-template-columns: 20rem auto;
        grid-template-rows: 15rem auto;
        grid-template-areas: 
        "header header"
        "aside calendar-container"
        ;
    }
}